
@{
    ViewBag.Title = "Forecast";
}
<div ng-init="init()" ng-controller="forcastTenCtrl" class="container">
    <div class="row">
        <h3>Forecast</h3>
        <div class="col-md-12">
            <div uib-alert ng-repeat="alert in Alerts" ng-class="'alert-' + alert.type" close="closeAlert($index)" dismiss-on-timeout="5000">{{alert.msg}}</div>
            <div class="col-md-2">
                <select class="form-control" ng-model="IconList.selectedOptions" ng-options="option.Name for option in IconList.availableOptions track by option.Key"></select>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="LangList.selectedOptions" ng-options="option.Name for option in LangList.availableOptions track by option.Key"></select>
            </div>
            <div class="col-md-2">
                <select class="form-control" ng-model="CityList.selectedOptions" ng-options="option.Name for option in CityList.availableOptions track by option.Key" ng-change="ClearPage()"></select><!--ng-change="GetTenForecast()"-->
            </div>
            <div class="col-md-2">
                <input class="form-control" disabled="disabled" type="text" ng-model="CityList.selectedOptions.Key" placeholder="Search for" required ng-keyup="$event.keyCode == 13 ? GetTenForecast() : null">
            </div>
            <div class="display-inline">
                <button type="button" ng-click="GetTenForecast()" class="btn btn-default">
                    <span class="glyphicon glyphicon-calendar"> Ten Days</span>
                </button>
            </div>
            <div class="display-inline">
                <button type="button" ng-click="GetYearForecast()" class="btn btn-default">
                    <span class="glyphicon glyphicon-stats"> Years</span>
                </button>
            </div>
            <div ng-show="loading" class="display-inline">
                <img class="loading" src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif">
                <label class="control-label"> LOADING...</label>
            </div>
        </div>
    </div>
    <div ng-if="tenDaysForecast.simpleforecast.forecastday.length > 0" class="row">
        <h4>Forecast 10 Days <a href="#cacheDays" class="btn btn-info" data-toggle="collapse">Cache</a></h4>
        <div class="panel panel-info">
            <div id="cacheDays" class="collapse">
                <div class="panel-body">
                    <h5 ng-if="tenDaysCacheModel.Name!==''">Cache Name : {{tenDaysCacheModel.Name}} - <strong>{{tenDaysCacheModel.CreateDate | mydate | date: 'yyyy-MM-dd HH:mm'}}</strong></h5>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="weather-container">
                <div class="day" ng-repeat="forecast in tenDaysForecast.simpleforecast.forecastday">
                    <div class="title">
                        {{CityList.selectedOptions.Name}}<br>{{forecast.date.day}}.{{forecast.date.month}}<br>({{forecast.date.weekday}})
                    </div>
                    <div class="icon" title="{{forecast.conditions}}">
                        <img ng-src="https://icons.wxug.com/i/c/{{IconList.selectedOptions.Key}}/{{forecast.icon}}.gif" />
                    </div>
                    <div class="minMax">
                        <span>
                            High <br> {{forecast.high.celsius}}&#x2103;
                        </span>
                        <span>
                            Low <br> {{forecast.low.celsius}}&#x2103;
                        </span>
                    </div>
                    <div class="spilt">
                        <span><button type="button" class="btn btn-primary active" ng-click="ShowHide($index,0)">Day</button></span>
                        <span><button type="button" class="btn btn-primary active" ng-click="ShowHide($index,1)">Night</button></span>
                    </div>
                </div>
            </div>
            <div class="day-night-container" ng-show="IsVisible">
                <div class="day">
                    <div class="icon" title="{{forecastIcon}}">
                        <img ng-src="https://icons.wxug.com/i/c/{{IconList.selectedOptions.Key}}/{{forecastIcon}}.gif" />
                    </div>
                    <div class="title">
                        {{forecastTitle}}<br>{{forecastFcttext_metric}}
                    </div>
                </div>
            </div>
        </div>
    </div>
                <div ng-if="yearsForecast.length>0" class="row">
                    <h4>History (Planner) <a href="#cacheYear" class="btn btn-info" data-toggle="collapse">Cache</a></h4>
                    <div class="panel panel-info">
                        <div id="cacheYear" class="collapse">
                            <div class="panel-body">
                                <table class="table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Months </th>
                                            <th>Cache Name</th>
                                            <th>Cache Time</th>
                                        </tr>
                                        <tr ng-repeat="month in yearsCacheModel">
                                            <td>{{MonthList[$index]}}</td>
                                            <td>{{month.Name}}</td>
                                            <td>{{month.CreateDate | mydate | date: 'yyyy-MM-dd HH:mm'}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="weather-year-container">
                            <table class="weather-year">
                                <tbody>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th class="table-header" ng-repeat="month in MonthList"><span title="{{month}}">{{month}}</span></th>
                                    </tr>
                                    <tr>
                                        <th class="table-row"><span title="Day">Day</span></th>
                                        <td ng-repeat="month in yearsForecast" class="table-text {{month.trip.temp_high.avg.CSSName}}">
                                            <div title="Average" class="average">{{month.trip.temp_high.avg.C}}℃</div>
                                            <div class="minMax">
                                                <span title="Min">{{month.trip.temp_high.min.C}}℃</span>
                                                <span title="Max">{{month.trip.temp_high.max.C}}℃</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-row"><span title="Night">Night</span></th>
                                        <td ng-repeat="month in yearsForecast" class="table-text {{month.trip.temp_low.avg.CSSName}}">
                                            <div class="average" title="Average">{{month.trip.temp_low.avg.C}}℃</div>
                                            <div class="minMax">
                                                <span title="Min">{{month.trip.temp_low.min.C}}℃</span>
                                                <span title="Max">{{month.trip.temp_low.max.C}}℃</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-row"><span title="Precipitation">Precipitation cm</span></th>
                                        <td ng-repeat="month in yearsForecast" class="table-text t04">
                                            <div class="average" title="Average">{{month.trip.precip.avg.cm}}</div>
                                            <div class="minMax">
                                                <span title="Min">{{month.trip.precip.min.cm}}</span>
                                                <span title="Max">{{month.trip.precip.max.cm}}</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-row"><span title="Max Dewpoint">Max Dewpoint</span></th>
                                        <td ng-repeat="month in yearsForecast" class="table-text {{month.trip.dewpoint_high.avg.CSSName}}">
                                            <div class="average" title="Average">{{month.trip.dewpoint_high.avg.C}}℃</div>
                                            <div class="minMax">
                                                <span title="Min">{{month.trip.dewpoint_high.min.C}}℃</span>
                                                <span title="Max">{{month.trip.dewpoint_high.max.C}}℃</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-row"><span title="Min Dewpoint">Min Dewpoint</span></th>
                                        <td ng-repeat="month in yearsForecast" class="table-text {{month.trip.dewpoint_low.avg.CSSName}}">
                                            <div class="average" title="Average">{{month.trip.dewpoint_low.avg.C}}℃</div>
                                            <div class="minMax">
                                                <span title="Min">{{month.trip.dewpoint_low.min.C}}℃</span>
                                                <span title="Max">{{month.trip.dewpoint_low.max.C}}℃</span>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th class="table-row"><span title="Humidity">Humidity %</span></th>
                                        <td ng-repeat="month in yearsForecast" class="table-text t04">
                                            <div class="average" html-title="{{month.trip.chance_of.chanceofhumidday.description}}" ng-bind-html="month.trip.chance_of.chanceofhumidday.percentage"></div>

                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <script>

                var pageList = {
                    list: "@Url.Action("List", "Forecast")",
                    langList: "@Url.Action("GetLangList", "Search")",
                    getTenForecast: "@Url.Action("GetTenForecast", "Forecast")",
                    getYearForecast: "@Url.Action("GetYearForecast", "Forecast")",
                    iconList: "@Url.Action("GetIconList", "Forecast")",
                    monthList: "@Url.Action("GetMonthList", "Forecast")"
                }

                var myModule = angular.module('WeatherApp');

                myModule.filter("mydate", function () {
                    var re = /\/Date\(([0-9]*)\)\//;
                    return function (x) {
                        var m = x.match(re);
                        if (m) return new Date(parseInt(m[1]));
                        else return null;
                    };
                });

                myModule.directive('htmlTitle', function ($sanitize) {
                    return {
                        restrict: 'A',
                        link: function (scope, element, attrs) {
                            attrs.$observe('htmlTitle', function (title) {
                                var html = angular.element('<div></div>').html($sanitize(title)).text();
                                element.attr('title', html);
                                element.html(html);
                            });
                        }
                    }
                });

                myModule.controller("forcastTenCtrl",
                    function ($scope, $http, $sce) {

                        $scope.tenDaysForecast = null;
                        $scope.yearsForecast = [];
                        $scope.LangList = { availableOptions: [], selectedOptions: null };
                        $scope.CityList = { availableOptions: [], selectedOptions: null };
                        $scope.IconList = { availableOptions: [], selectedOptions: null };
                        $scope.tenDaysCacheModel = null;
                        $scope.yearsCacheModel = [];
                        $scope.MonthList = [];

                        //Init
                        $scope.init = function () {
                            $http.get(pageList.list, {})
                                .then(function (res) {
                                    var jsonResult = res.data;
                                    if (jsonResult.IsSuccess) {
                                        $scope.CityList.availableOptions = [];
                                        $scope.CityList.availableOptions.push(...jsonResult.Data);
                                        if ($scope.CityList.availableOptions.length > 0)
                                            $scope.CityList.selectedOptions = $scope.CityList.availableOptions[0];
                                    } else {
                                        $scope.addAlert('danger', jsonResult.Message);
                                    }
                                });
                            if ($scope.LangList.availableOptions.length === 0) {
                                $http.get(pageList.langList, {})
                                    .then(function (res) {
                                        var jsonResult = res.data;
                                        if (jsonResult.IsSuccess) {
                                            //$scope.LangList.availableOptions = [];
                                            $scope.LangList.availableOptions.push(...jsonResult.Data);
                                            if ($scope.LangList.availableOptions.length > 0)
                                                $scope.LangList.selectedOptions = $scope.LangList.availableOptions
                                                    .find(function (lang) { return lang.Key = "TR" });
                                        } else {
                                            $scope.addAlert('danger', jsonResult.Message);
                                        }
                                    });
                            }
                            if ($scope.IconList.availableOptions.length === 0) {
                                $http.get(pageList.iconList, {})
                                    .then(function (res) {
                                        var jsonResult = res.data;
                                        if (jsonResult.IsSuccess) {
                                            //$scope.IconList.availableOptions = [];
                                            $scope.IconList.availableOptions.push(...jsonResult.Data);
                                            if ($scope.IconList.availableOptions.length > 0)
                                                $scope.IconList.selectedOptions = $scope.IconList
                                                    .availableOptions[$scope.IconList.availableOptions.length - 1];
                                        } else {
                                            $scope.addAlert('danger', jsonResult.Message);
                                        }
                                    });
                            }
                            if ($scope.MonthList.length === 0) {
                                $http.get(pageList.monthList, {})
                                    .then(function (res) {
                                        var jsonResult = res.data;
                                        if (jsonResult.IsSuccess) {
                                            $scope.MonthList.push(...jsonResult.Data);
                                        } else {
                                            $scope.addAlert('danger', jsonResult.Message);
                                        }
                                    });
                            }
                        };

                        //MonthList

                        //GetTenDaysForecast
                        $scope.GetTenForecast = function () {
                            $scope.loading = true;
                            $scope.IsVisible = false;
                            if ($scope.CityList.selectedOptions.Key !== "") {
                                $http.post(pageList.getTenForecast,
                                {
                                    key: $scope.CityList.selectedOptions.Key,
                                    lang: $scope.LangList.selectedOptions.Key
                                }).then(function (res) {
                                    var jsonResult = res.data;
                                    if (jsonResult.IsSuccess) {
                                        $scope.tenDaysForecast = jsonResult.Data;
                                        $scope.tenDaysCacheModel = jsonResult.Cache;
                                    } else {
                                        $scope.addAlert('danger', jsonResult.Message);
                                    }
                                    $scope.loading = false;
                                });
                            }
                        };
                        //http.get GetTenDaysForecast
                        /*
                        $scope.GetTenForecast = function () {
                            $scope.loading = true;
                            $scope.IsVisible = false;
                            if ($scope.CityList.selectedOptions.Key !== "") {

                                $http({
                                    url: '/Forecast/GetTenForecast',
                                    method: "GET",
                                    params: {
                                        key: $scope.CityList.selectedOptions.Key,
                                        lang: $scope.LangList.selectedOptions.Key
                                    }
                                }).then(function (res) {
                                    var jsonResult = res.data;
                                    if (jsonResult.IsSuccess) {
                                        $scope.tenDaysForecast = jsonResult.Data;
                                    } else {
                                        $scope.addAlert('danger', jsonResult.Message);
                                    }
                                    $scope.loading = false;
                                });
                            }
                        };
                        */

                        //GetYearForecast
                        $scope.GetYearForecast = function () {
                            $scope.loading = true;
                            if ($scope.CityList.selectedOptions.Name !== "") {
                                $http.post(pageList.getYearForecast,
                                {
                                    cityName: $scope.CityList.selectedOptions.Name,
                                    countryCode: $scope.LangList.selectedOptions.Key
                                }).then(function (res) {
                                    var jsonResult = res.data;
                                    if (jsonResult.IsSuccess) {
                                        $scope.yearsForecast = [];
                                        $scope.yearsCacheModel = [];
                                        $scope.yearsForecast.push(...jsonResult.Data);
                                        $scope.yearsCacheModel.push(...jsonResult.Cache);
                                    } else {
                                        $scope.addAlert('danger', jsonResult.Message);
                                    }
                                    $scope.loading = false;
                                });
                            }
                        };

                        //Alert
                        {
                            $scope.Alerts = [];

                            $scope.addAlert = function (type, msg) {
                                $scope.Alerts.push({ type: type, msg: msg });
                            };

                            $scope.closeAlert = function (index) {
                                $scope.Alerts.splice(index, 1);
                            };

                            $scope.ShowHide = function () {
                                $scope.IsVisible = $scope.IsVisible ? false : true;
                            };
                        }

                        //Detail
                        {
                            $scope.IsVisible = false;
                            $scope.forecastIcon_url = "";
                            $scope.forecastIcon = "";
                            $scope.forecastTitle = "";
                            $scope.forecastFcttext_metric = "";
                            $scope.newIndex = -1;

                            $scope.ShowHide = function (index, night) {
                                if ($scope.IsVisible === false)
                                    $scope.IsVisible = true;
                                else if ($scope.IsVisible && $scope.newIndex === ((2 * index) + night)) {
                                    $scope.IsVisible = false;
                                }
                                if ($scope.IsVisible) {
                                    $scope.newIndex = (2 * index) + night;
                                    $scope.forecast = $scope.tenDaysForecast.txt_forecast.forecastday[$scope.newIndex];
                                    $scope.forecastIcon_url = $scope.forecast.icon_url;
                                    $scope.forecastIcon = $scope.forecast.icon;
                                    $scope.forecastTitle = $scope.forecast.title;
                                    $scope.forecastFcttext_metric = $scope.forecast.fcttext_metric;
                                }
                            };
                        }

                        //Clear Page
                        $scope.ClearPage = function () {
                            $scope.tenDaysForecast = null;
                            $scope.yearsForecast = [];
                            $scope.IsVisible = false;
                        };
                    }
                );

            </script>
